/*
Template Name: The News Reporter
Template URI: http://www.wpfreeware.com/news-reporter-wordpress-magazine-themes/
Author: WpFreeware
Author URI: http://www.wpfreeware.com
Description: A Pro responsive magazine website template
Version: 1.0 
License: GPL
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

*{margin:0; padding:0}
body{font-family:Arial; font-size:12px; line-height:13px; background:url("images/site_bg.png") top center no-repeat fixed #000}
a{color:#000; text-decoration:none}
a:hover, a:active, a:focus{text-decoration:none; color:#000}
input[type=text], input[type=password], textarea{border:1px solid #ddd; padding:5px}
input[type=submit]
h1, h2, h4, h5, h6{font-weight:normal; margin:0 0 15px}
h3{color:#202021; font-size:12px; font-weight:bold; margin-bottom:2px; line-height:13px}
h2{font-size:25px; line-height:30px}
img{max-width:100%; height:auto}
.alignleft{float:left; margin-left:0px}
.aligncenter{display:block; margin:10px auto}
.alignright{float:right; margin-left:10px}
.floatleft{float:left}
.floatright{float:right}
.center{width:980px; display:block; margin:0 auto; padding:20px; background:#fff; transition:all 1.3s ease 0s; -moz-transition:all 1.3s ease 0s; -webkit-transition:all 1.3s ease 0s; -o-transition:all 1.3s ease 0s; -ms-transition:all 1.3s ease 0s}
div{overflow:hidden}
.slider{height:350px; overflow:visible}
.bxslider, .bx-viewport, .bx-controls, .bx-pager, .bx-controls-direction{overflow:visible}
.bxslider li{background-color: #202021}
#selectnav1{display:none}
#selectnav2{display:none}
#nav{display:block}
#f_menu{display:block}
#avertissement{text-align: center; color: #CF0000}
#linklogo{line-height: 34px; font-size: 34px}
.body_wrapper{background:url("images/body_bg.png") repeat; margin-top:30px; margin-bottom:30px}
.header_area{}
.logo{margin-top:20px; width: 241px; height: 37px; background: url("images/logo-sprite.png") no-repeat 0 bottom}
.logo a:hover img {visibility: hidden}
.publicite{width: 250x; height: 400px; background: url("images/pub-sprite.png") no-repeat}
.publicite:hover{background-position: right 0}
.top_menu{margin-left:60px; margin-top:60px; width:330px}
.top_menu ul{list-style:none outside none; margin:0; padding:0}
.top_menu ul li{float:left; border-right:2px solid #000}
.top_menu ul li:last-child{border-right:none}
.top_menu ul li a{color:#CF0000; display:block; font-size:12px; padding:0 11px; line-height:12px}
.top_menu ul li a:hover{text-decoration:underline}
.social_plus_search{margin-bottom:20px}
.social{width:250px; margin:20px 0px 10px 0px}
.social ul{list-style:none outside none; margin:0; padding:0}
.social ul li{float:left; margin-right:7px}
.social ul li a{display:block; padding:12px 13px}
.twitter{background:url("images/social_icons.png") no-repeat scroll 0 0 rgba(0,0,0,0)}
.facebook{background:url("images/social_icons.png") no-repeat scroll -37px 0px rgba(0,0,0,0)}
.feed{background:url("images/social_icons.png") no-repeat scroll -73px 0px rgba(0,0,0,0)}
.search{}
.search #search_form{}
.search #s{width:87%}
.search #searchform{background:url("images/search.png") no-repeat scroll 0 0 rgba(0,0,0,0); border:medium none; height:28px; margin-left:-4px; text-indent:-99999px; width:13%}
.main_menu_area{overflow:visible; background:#0D0E0F; min-height:50px}
.main_menu_area ul{margin:0; padding:0; list-style:none}
.main_menu_area ul li{float:left; position:relative}
.main_menu_area ul li a{color:#FFF; display:block; font-family:'bebasregular'; font-size:15px; padding:18px 18.7px}
.main_menu_area ul li a:hover{background:#CF0000}
#nav li ul{transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s}
/* dropdown css level one*/
.main_menu_area ul li ul{background:none repeat scroll 0 0 #0D0E0F; top:100px; position:absolute; width:215px; z-index:99999; right:-99999px}
.main_menu_area ul li ul li{float:none; position:relative}
.main_menu_area ul >li:hover >ul{left:0px; top:49px}
.main_menu_area ul li ul li a{font-family:arial; font-weight:bold}
.main_menu_area ul li ul li a:hover{}
/* dropdown css level two*/
.main_menu_area ul li ul li ul{background:none repeat scroll 0 0 #0D0E0F; right:215px; position:absolute; width:215px; z-index:99999; right:-99999px}
.main_menu_area ul li ul li ul li{float:none}
.main_menu_area ul li ul li:hover ul{left:215px !important; top:0px}
.main_menu_area ul li ul li ul li a{font-family:arial; font-weight:bold}
.slider_area, .slider{display:block; position:relative; width:100%; margin:0; padding:0;}
.slider *{margin:0; padding:0;}
.slider img{max-width:100%;}
.slider1{width:670px}
.slider2{width:250px}
.content_area{margin-top:25px}
.main_content{width:670px}
.left_coloum{width:650px}
.single_left_coloum_wrapper{position:relative; margin-left:-10px; margin-bottom:30px}
.single_left_coloum_wrapper .title{margin-left:10px}
.title{border-bottom:4px solid #CF0000; font-family:'bebasregular'; font-size:20px; word-spacing:2px}
.title-single{margin-left:10px;  margin-top: 40px;}
.title-single{border-bottom:4px solid #CF0000; font-family:'Arial'; font-size:20px; word-spacing:2px; font-stretch: expanded; font-weight: 700}
.more{background:url("images/plus.png") no-repeat scroll 117px 9px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:4px 20px; position:absolute; right:0; text-transform:uppercase; top:10px}
.category_single{background: scroll 117px 9px #CF0000; color:#FFF; display:block; font-size:12px; font-weight:bold; padding:4px 20px; position: absolute; left:0; text-transform:uppercase; top:10px; line-height:13px}
.souscategory_single{background: no-repeat scroll 117px 9px #0D0E0F; color:#FFF; display:block; font-size:12px; font-weight:bold; padding:4px 20px; position: absolute; margin-left: 110px; text-transform:uppercase; top:10px}
.souscategory_single:hover{color: rgb(255, 238, 1)}
.text-single{line-height:17px; margin: 10px; font-size: 14px }
.auteur-single{line-height:17px; margin: 10px; font-size: 14px; font-weight: bold; text-align: right }
.photo_single img{max-width: 100%; max-height: 550px}
.popular_more{background:url("images/plus.png") no-repeat scroll 57px 12px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:7px 20px; text-transform:uppercase; width:74px; margin-top:10px}
.single_left_coloum{margin-left:10px; width:143px}
.readmore, .single_cat_right_content_meta span{color:#CF0000; font-size:10px; text-transform:uppercase; font-weight:bold; margin-right:20px}
.readmore:hover, .single_cat_right_content_meta span:hover{color:#CF0000; text-decoration:underline}
.gallery{}
.gallery img{margin-bottom:10px; margin-left:10px; width:141px}
.single_cat_left{}
.single_cat_left_content{border-bottom:1px dotted #000; margin-left:10px; width:220px}
.single_cat_left_content h3{font-size:15px}
.single_cat_left_content_meta{font-size:11px}
.single_cat_left_content_meta span{color:#cf0000}
.right_coloum{width:190px}
.single_right_coloum{margin-bottom:20px}
.single_right_coloum ul{margin:0; padding:0; list-style:none}
.single_right_coloum ul li{border-bottom:1px dotted #ddd}
.single_right_coloum ul li:last-child{border-bottom:none}
.single_cat_right_content{padding-bottom:10px}
.single_cat_right_content h3{margin-top:10px}
.single_cat_right_content_meta{}
.editorial{}
.editorial h3{color:#CF0000}
.sidebar{width:250px}
.single_sidebar{margin-bottom:20px}
.news-letter{padding:10px; background:#E4E4E4}
.news-letter h2{font-family:bebasregular; font-size:20px; margin-bottom:5px; word-spacing:2px}
.news-letter p{}
.news-letter form input#name{border:1px solid #999; margin-bottom:10px; width:100%}
.news-letter form input#email{border:1px solid #999; margin-bottom:10px; width:100%}
.news-letter form input#form-submit{background:none repeat scroll 0 0 #CF0000; border:medium none; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px}
.news-letter-privacy{color:#cf0000; margin-top:10px}
.popular{}
.popular ul{margin:0; padding:0; list-style:none}
.popular ul li{border-bottom:1px dotted #000; padding-bottom:10px; margin-bottom:10px}
.popular ul li:last-child{border-bottom:none}
.single_popular{}
.single_popular p{margin-bottom:0}
.single_popular h3{line-height:17px; margin-top:0}
.footer_top_area{border-bottom:1px dotted #000; border-top:1px dotted #000; padding:20px 0; width:940px}
.inner_footer_top{width:730px; margin:0 auto}
.footer_bottom_area{margin-top:15px}
.footer_menu{margin-bottom:20px;text-align: center}
.footer_menu ul{list-style:none; margin:0; padding:0}
.footer_menu ul li{border-right:2px solid #000; display:inline}
.footer_menu ul li:last-child{border-right:none}
.footer_menu ul li a{color:#CF0000; display:inline-block; font-size:12px; padding:0 11px; line-height:12px}
.footer_menu ul li a:hover{text-decoration:underline}
.copyright_text{line-height:17px; text-align:center}